

p {
  padding-left: 255px;
  font-size: 30px;
  font-weight: bold;
  color: white;
  text-shadow: 5px 5px 5px black;

}

h1 {
    float: center;
    color: white;
    text-transform: uppercase;
    padding-left: 440px;
    font-size: 55px;
    font-weight: bold;
    text-shadow: 5px 5px 5px black;
}

.vertical-menu {
  width: 200px;
  padding-bottom: 300px;
  padding-left: 300px;
  padding-top: 100px;
  float: left;
  text-transform: uppercase;
  text-shadow: 5px 5px 5px #8B0000;

}

.vertical-menu a {
  background-color: #8B0000;
  color: white;
  display: block;
  padding: 12px;
  text-decoration: none;
}

.vertical-menu a:hover {
  background-color: grey
}

.vertical-menu a.active {
  background-color: black;
  color: white;
  font-size: 30px;
}

.vertical-menu1 {
  text-transform: uppercase;  
  width: 200px;
  padding-right: 300px;
  padding-bottom: 300px;
  padding-top: 100px;
  float: right;
  text-shadow: 7px 7px 7px #8B0000;

}

.vertical-menu1 a {
  background-color: #8B0000;
  color: white;
  display: block;
  padding: 12px;
  text-decoration: none;
}

.vertical-menu1 a:hover {
  background-color: grey;
}

.vertical-menu1 a.active {
  background-color: black;
  color: white;
  font-size: 30px;
}
